@(page: String, isLoggedIn: Boolean, userInfo: UserInfo)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@page (Taggit)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--  Meta properties -->
        @*<meta name="application-name" content="Taggit">
        <meta property="og:site_name" content="Dictionary.com" />
        *@@*<meta property="og:image" content="@routes.Assets.at("images/indeximage.png")" />*@@*
        <meta property="og:image" content="https://github.com/anupriaa/FinalProjectICS613/blob/master/public/images/indeximage.png"/>
        <meta name="description" content="Taggit attempts to help you unclutter your mind and your life by letting you organize and catalog your day to day experiences in a searchable, sortable and manageable online medium.Whether it is a website you like or thoughts rambling through your head, once you link them with Taggit, it will automatically parse and tag that snippet of your life for future retrieval whenever you feel an itch in your brain to reminisce about a thought you can't fully recall." />
        <meta name="keywords" content="taggit,organize,bookmarklet,read it later, save for later, bookmark, " />
        <meta property="og:title" content="taggit.website - Life is complicated, simplify it with Taggit!" />
        <meta property="og:site_name" content="taggit.website" />
        <meta property="og:url" content="http://www.taggit.website/" />*@

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/spacelab/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:200,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>

            <!--  Load site-specific customizations after bootstrap. -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="icon" href="@routes.Assets.at("images/favicon.ico")" type="image/x-icon"/>

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>


        <![endif]-->
            <!-- Custom styles for this template -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
       @* <script type="text/javascript" src="@routes.Application.jsRoutes()"></script>*@
    </head>
    <body class = "background">
        <div class="header"></div>
            <!-- Responsive navbar -->
        <div class="navbar navbar-inverse " role="navigation">
            <div class="container">
                <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <!--  Display three horizontal lines when navbar collapsed. -->
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>

                    <a class="navbar-brand" href="#"></a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="@("active".when(page == "Home"))"><a href="@routes.Application.index()">
                                Home</a></li>
                        <li class="@("active".when(page == "Faq"))"><a href="@routes.Application.faq()">Faq</a></li>
                        @if(isLoggedIn) {
                            <li class="@("active".when(page == "Search"))"><a href="@routes.Application.search()">
                                    Search</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Data <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="@("active".when(page == "MyLinks"))"><a href="@routes.Application.myLinks()">URLs</a></li>
                                    <li class="@("active".when(page == "MyNotes"))"><a href="@routes.Application.myNotes()">Notes</a></li>
                                    <li class="@("active".when(page == "ImageGallery"))"><a href="@routes.Application.getGalleryFileIds("image")">Images</a></li>
                                    <li class="@("active".when(page == "AudioGallery"))"><a href="@routes.Application.getGalleryFileIds("audio")">Audios</a></li>
                                    <li class="@("active".when(page == "VideoGallery"))"><a href="@routes.Application.getGalleryFileIds("video")">Videos</a></li>
                                    <li class="@("active".when(page == "DocumentGallery"))"><a href="@routes.Application.getGalleryFileIds("document")">Documents and Pdfs</a></li>
                                    <li class="@("active".when(page == "AllGallery"))"><a href="@routes.Application.getGalleryFileIds("all")">All files</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
          							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add <span class="caret"></span></a>
          							<ul class="dropdown-menu">
            							<li class="@("active".when(page == "EnterUrl"))"><a href="@routes.Application.enterUrl()">url</a></li>
            							<li class="@("active".when(page == "AddNote"))"><a href="@routes.Application.addNote()">Notes</a></li>
            							<li class="@("active".when(page == "UploadFile"))"><a href="@routes.Application.uploadFile()">Files</a></li>
          							</ul>
        					</li>
                            <li class="@("active".when(page == "AddBookmarklet"))"><a href="@routes.Application.addBookmarklet()">
                                    Add Bookmarklet</a></li>

                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if(isLoggedIn) {
                            <li><p class="navbar-text">@userInfo.getEmail()</p></li>
                            <li><a href="@routes.Application.logout()">Logout</a></li>
                        } else {
                            <li><a href="@routes.Application.signup()">Signup</a></li>
                            <li><a href="@routes.Application.login()">Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        @content

            <!-- Site footer -->
        <div class="footer">
            @*<nav class="navbar navbar-default navbar-fixed-bottom">*@
            <div class="container">
                @*<div class="row">
                    <div class="col-md-12">*@
                        <p class="text-muted text-right mainp">For more information, please visit the  project's <a href="http://anupriaa.github.io/Taggit/">GitHub Page</a></p>
                    @*</div>
                </div>*@
            </div>
            @*</nav>*@
        </div>
        @*<div id="footer" class="container footer">
            <nav class="navbar navbar-inverse">
                *@@*<div class="navbar-inner navbar-content-center">*@@*
                    <p class="text-muted credit text-right">For more information, please visit the  project's <a href="http://anupriaa.github.io/Taggit/">GitHub Page</a></p>
                *@@*</div>*@@*
            </nav>
        </div>*@
            <!-- Load Bootstrap JavaScript components. -->
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>
