@(page: String, isLoggedIn: Boolean, userInfo: UserInfo,urlInfo : List[UrlInfo], isSearchResult: Boolean )

@import views.html.bootstrap3._
@import views.html.helper._

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
        @*<img class="homeimg" src="@routes.Assets.at("images/Taggit_wordcloud.png")">*@
        @if(isSearchResult) {
            @if(!urlInfo.isEmpty) {
                @*<hgroup class="mb20">
                    <h1>Results</h1>
                </hgroup>*@
                <div class="row ">
                    @for(urlInfo <- urlInfo) {
                        <section class="col-xs-12 col-sm-6 col-md-12">
                            <article class="search-result row">
                                <div class="col-xs-12 col-sm-12 col-md-2">
                                    @*<a href="@urlInfo.getUrl" target="_blank" title="@urlInfo.getUrl" class="thumbnail" style="width:150px;height:150px">*@
                                        @if(urlInfo.GetIsOGImage()) {
                                            <img class="thumbnail" src="@urlInfo.getUrlOGImage" alt="@urlInfo.getUrl" style="width:150px;height:150px">
                                        } else {
                                            <img class="thumbnail"  src="@routes.Assets.at("images/imgnotavailable.png")" alt="@urlInfo.getUrl" style="width:150px;height:150px">
                                        }
                                    @*</a>*@
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 mid">
                                    <ul class="meta-search">
                                        <li><i class="glyphicon glyphicon-calendar"></i> <span>@urlInfo.getDate</span></li>
                                        <li><i class="glyphicon glyphicon-time"></i> <span>@urlInfo.getTime</span></li>
                                        <li><i class="glyphicon glyphicon-tags"></i> <span>@urlInfo.getMostRelevantKeyword(urlInfo.getUrlEntryId)</span></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 excerpet">
                                    <h3>
                                        <a class="wordwrap" href="@urlInfo.getUrl" target="_blank" title="">@urlInfo.getUrl()</a>
                                        <a class="btn btn-default" href="@routes.Application.deleteUrl(urlInfo.getUrlEntryId)">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </a>
                                    </h3>
                                    <p>@urlInfo.getUrlSnippet</p>

                                </div>
                                <span class="clearfix borda"></span>
                            </article>
                        </section>
                    }
                    </div>
            } else {
                <div class="row welcome">
                    <br/>
                    <div class="col-md-11 col-md-offset-1">
                        <p>@userInfo.getFirstName, you have not added any entries yet.</p>
                    </div>
                    <div class="col-md-11 col-md-offset-1">
                        <p>Get started now:</p>
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        Add the <a class="link" href="@routes.Application.addBookmarklet()">bookmarklet</a> to your bookmarks.
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        Just click on the bookmarklet, When you want to save a website.
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        And then come and take a look at your links here.
                    </div>
                </div>
            }
        }
    </div>
}