@(page: String, isLoggedIn: Boolean, userInfo: UserInfo,contactForm: Form[views.formdata.SearchFormData],
        urlInfo : List[UrlInfo], noteInfo : List[NoteInfo], fileInfo : List[FileInfo], noOfResults: Integer, isSearchResult: Boolean, noEntryForUser: Boolean )

@import views.html.bootstrap3._
@import views.html.helper._

@Main(page, isLoggedIn, userInfo) {
    <div class="container" xmlns="http://www.w3.org/1999/html">
        @*<img class="homeimg" src="@routes.Assets.at("images/Taggit_wordcloud.png")">*@


        @if(noEntryForUser) {
            <div class="row welcome">
                <br/>
                <div class="col-md-11 col-md-offset-1">
                    <p>@userInfo.getFirstName,<br/> You have not added anything yet.</p>
                </div>
                <div class="col-md-11 col-md-offset-1">
                    <p>Get started now</p>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Add the <a class="link" href="@routes.Application.addBookmarklet()">bookmarklet</a> to your bookmarks.<br/>

                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Just click on the bookmarklet, When you want to save a website. <br/>

                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Or you can also save personal notes by going to <a class="link" href="@routes.Application.addNote()">
                    Add Note</a>.<br/>

                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    And later <a class="link" href="@routes.Application.search()">search</a> your added websites and notes using keywords displayed in your personal keyword cloud.
                </div>
            </div>
        } else {
            <img class="img-responsive homeimg" src="@routes.Application.getImage()" alt="Keyword Cloud"/>
            @form(routes.Application.searchResult(), 'class -> "form-horizontal formBody") {
                    <!-- Hidden userID Field. -->
                @hidden(contactForm("Id"))
                    <!-- Hidden UserId Field -->
                <input type="hidden"
                name="UserId"
                id="UserId"
                value="@userInfo.getId()">
                    <!-- url -->
                <div class="search">
                    <div class="col-sm-7 col-sm-offset-2">
                        <div id="imaginary_container">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" name ="queryData"
                                id="queryData"
                                placeholder="Please enter keyword to search." >
                                <span class="input-group-addon">
                                    <button id="submit" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @if(contactForm.hasErrors){
            <div class="row welcome">
                <br/>
                <div class="col-md-11 col-md-offset-1 alert-alert error text-danger">
                    <p>@{contactForm("queryData").error.map {error => error.messages}}</p>
                </div>
            </div>

        }else {
            @if(isSearchResult) {
                @if(!urlInfo.isEmpty || !noteInfo.isEmpty || !fileInfo.isEmpty) {
                    <div class="col-sm-offset-0 col-sm-12">
                        <hgroup class="mb20">
                            <h1>Results</h1>
                            <h2 class="lead"><strong class="text-danger1">@noOfResults</strong> results found.</h2>
                        </hgroup>
                    </div>
                    <div class="row">
                        @for(urlInfo <- urlInfo) {
                            <section class="col-xs-12 col-sm-6 col-md-12">
                                <article class="search-result row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 excerpet">
                                        <h3>
                                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                            <a href="@urlInfo.getUrl" target="_blank" title="">@urlInfo.getUrl()</a>
                                        </h3>
                                        <p>@urlInfo.getUrlSnippet</p>
                                    </div>
                                    <span class="clearfix borda"></span>
                                </article>
                            </section>
                        }
                        @for(noteInfo <- noteInfo) {
                            <section class="col-xs-12 col-sm-6 col-md-12">
                                <article class="search-result row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 excerpet">
                                        <h3>
                                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                            <span>@noteInfo.getNoteTitle</span>
                                        </h3>
                                        <p>@noteInfo.getNote</p>
                                    </div>
                                    <span class="clearfix borda"></span>
                                </article>
                            </section>
                        }
                        @for(fileInfo <- fileInfo) {
                            <section class="col-xs-12 col-sm-6 col-md-12">
                                <article class="search-result row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 excerpet">
                                    @if(fileInfo.getFileType == "image"){
                                        <h3>
                                            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                                            <a class= "resultLink" href="@routes.Application.getGalleryFiles(fileInfo.getFileId())" target="_blank">
                                                <img src="@routes.Application.getGalleryFiles(fileInfo.getFileId())" alt="@fileInfo.getFileName()" style="width:150px;height:150px"></a>
                                            @*<p class="wordwrap">@fileInfo.getFileName()</p>*@
                                        </h3>
                                    } else {
                                        @if(fileInfo.getFileType == "document") {
                                            <h3>
                                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                                <span><a class= "resultLink" href="@routes.Application.getGalleryFiles(fileInfo.getFileId())" target="_blank">@fileInfo.getFileName()</a></span>
                                            </h3>
                                        } else {
                                            @if(fileInfo.getFileType == "video") {
                                                <h3>
                                                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                                                    <span><a class= "resultLink" href="@routes.Application.getGalleryFiles(fileInfo.getFileId())" target="_blank">@fileInfo.getFileName()</a></span>
                                                </h3>
                                            } else {
                                                @if(fileInfo.getFileType == "audio") {
                                                    <h3>
                                                        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
                                                        <span><a class= "resultLink" href="@routes.Application.getGalleryFiles(fileInfo.getFileId())" target="_blank">@fileInfo.getFileName()</a></span>
                                                    </h3>
                                                }
                                            }
                                        }
                                    }
                                    </div>
                                    <span class="clearfix borda"></span>
                                </article>
                            </section>
                        }
                    </div>
                } else {
                    <div class="row welcome">
                        <br/>
                        <div class="col-md-11 col-md-offset-1 alert-alert error text-danger">
                                <p><br/><br/>Sorry, no data associated with the entered keyword was found.</p>
                        </div>
                    </div>
                }
            }
        }
    </div>
}