@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, contactForm: Form[Application.UploadImageForm])

@import views.html.helper._

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
        @form(routes.Application.postUploadImage(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal formBody") {
            <input type="hidden"
            name="UserId"
            id="UserId"
            value="@userInfo.getId()">
                <!-- image upload -->
            <div class="uploadImage">
                <div class="col-sm-6">
                        <input type="file" class="form-control"
                        accept=".jpg, .png, .bmp, .pdf, .docx, .doc"
                        name ="uploadedImage"
                        id="uploadedImage"
                        placeholder="Please upload the image.">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button id="submit" type="submit" class="btn btn-default">Upload</button>
                </div>
            </div>
        }
        @if(contactForm.hasErrors){
            <div class="row welcome">
                <br/>
                <div class="col-md-11 col-md-offset-1 alert-alert error text-danger">
                    <p>@{contactForm("uploadedImage").error.map {error => error.messages}}</p>
                </div>
            </div>
        }
    </div>
}